 .u-section-1 {
  min-height: 744px;
  background-image: url("images/all.JPG");
  background-position: 50% 50%;
}.u-section-2 .u-sheet-1 {
  min-height: 614px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 65px auto 65px 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/sunandpipe.jpg");
  min-height: 484px;
  background-position: 50% 50%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 500px;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 20px 79px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  margin: 20px 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 484px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 16px;
    position: relative;
  }

  .u-section-2 .u-text-2 {
    margin-right: 65px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    background-position: 15.56% 50%;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 13px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 50px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 37px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 6px;
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 24px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 783px;
}

.u-section-3 .u-group-1 {
  width: 570px;
  min-height: 177px;
  height: auto;
  margin: 45px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  position: relative;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-2 {
  position: relative;
  margin: 20px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 31px auto 73px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 229px;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  margin: -51px 20px 0 97px;
}

.u-section-3 .u-text-4 {
  position: relative;
  margin: 25px 20px 25px 97px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 229px;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  margin: -51px 20px 0 97px;
}

.u-section-3 .u-text-6 {
  position: relative;
  margin: 25px 20px 25px 97px;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 229px;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  margin: -51px 20px 0 97px;
}

.u-section-3 .u-text-8 {
  position: relative;
  margin: 25px 20px 25px 97px;
}

.u-section-3 .u-layout-cell-4 {
  background-image: none;
  min-height: 229px;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  position: relative;
  margin: 25px 20px 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  margin: -51px 20px 0 97px;
}

.u-section-3 .u-text-10 {
  position: relative;
  margin: 25px 20px 25px 97px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    font-weight: normal;
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-5 {
    font-weight: normal;
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-7 {
    font-weight: normal;
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-9 {
    font-weight: normal;
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-right: 16px;
    margin-left: 105px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 360px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 275px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-3 .u-text-4 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 275px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-5 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-3 .u-text-6 {
    width: NaNpx;
    margin-right: 13px;
    margin-bottom: 30px;
    margin-left: 97px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 231px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-7 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 97px;
  }

  .u-section-3 .u-text-8 {
    width: NaNpx;
    margin-right: 13px;
    margin-bottom: 3px;
    margin-left: 97px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 231px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-9 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 96px;
  }

  .u-section-3 .u-text-10 {
    width: NaNpx;
    margin-right: 13px;
    margin-left: 96px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 338px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 9px;
    margin-bottom: 30px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 9px;
    margin-bottom: 25px;
    margin-left: 93px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 9px;
    margin-left: 93px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 9px;
    margin-left: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 283px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 6px;
    margin-bottom: 25px;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 6px;
    margin-bottom: 3px;
    margin-left: 90px;
  }

  .u-section-3 .u-icon-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 6px;
    margin-left: 90px;
  }

  .u-section-3 .u-text-10 {
    margin-right: 6px;
    margin-bottom: 3px;
    margin-left: 90px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 367px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 65px;
  margin-bottom: 10px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 292px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  position: relative;
  font-size: 3rem;
  font-weight: 700;
  margin: 58px 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 79px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 44px;
    margin-right: 16px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 65px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 24px;
  }
}.u-block-d2e3-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-d2e3-3 {
  position: absolute;
  left: auto;
  width: 30px;
  top: 297px;
  height: 55px;
  right: calc(((100% - 1140px) / 2)  + 535px);
}

.u-block-d2e3-4 {
  position: absolute;
  width: 30px;
  top: 297px;
  height: 55px;
  left: calc(((100% - 1140px) / 2)  + 540px);
  right: auto;
}

@media (max-width: 1199px) {
  .u-block-d2e3-3 {
    left: 41px;
    width: 29px;
    right: calc(((100% - 940px) / 2)  + 441px);
    padding: 8px;
  }

  .u-block-d2e3-4 {
    left: calc(((100% - 940px) / 2)  + 445px);
  }
}

@media (max-width: 991px) {
  .u-block-d2e3-3 {
    left: 32px;
    width: 22px;
    right: calc(((100% - 720px) / 2)  + 338px);
  }

  .u-block-d2e3-4 {
    left: calc(((100% - 720px) / 2)  + 341px);
  }
}

@media (max-width: 767px) {
  .u-block-d2e3-3 {
    left: 24px;
    width: 21px;
    right: calc(((100% - 540px) / 2)  + 254px);
  }

  .u-block-d2e3-4 {
    left: calc(((100% - 540px) / 2)  + 256px);
  }
}

@media (max-width: 575px) {
  .u-block-d2e3-3 {
    left: 15px;
    width: 17px;
    right: calc(((100% - 340px) / 2)  + 160px);
  }

  .u-block-d2e3-4 {
    left: calc(((100% - 340px) / 2)  + 161px);
  }
}

 .u-section-5-1 {
  background-image: none;
  min-height: 720px;
}

.u-section-5-1 .u-layout-wrap-1 {
  margin: 0 auto 60px 0;
}

.u-section-5-1 .u-layout-cell-1 {
  min-height: 614px;
}

.u-section-5-1 .u-container-layout-1 {
  margin-bottom: 0;
}

.u-section-5-1 .u-text-1 {
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 136px 0 0 139px;
}

.u-section-5-1 .u-icon-1 {
  height: 89px;
  width: 89px;
  margin: -125px auto 0 28px;
}

.u-section-5-1 .u-text-2 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 84px 99px 0 69px;
}

.u-section-5-1 .u-layout-cell-2 {
  min-height: 614px;
  background-image: none;
}

.u-section-5-1 .u-container-layout-2 {
  padding-left: 84px;
}

.u-section-5-1 .u-text-3 {
  font-size: 3.75rem;
  margin: 133px 152px 0 110px;
}

.u-section-5-1 .u-rotation-parent-1 {
  width: 83px;
  height: 83px;
  margin: -122px 107px 0 auto;
}

.u-section-5-1 .u-icon-2 {
  height: 83px;
  width: 83px;
  padding: 0;
}

.u-section-5-1 .u-text-4 {
  font-size: 1.875rem;
  font-style: italic;
  margin: 99px 0 0;
}

@media (max-width: 1199px) {
   .u-section-5-1 {
    min-height: 612px;
  }

  .u-section-5-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5-1 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 506px;
  }

  .u-section-5-1 .u-text-1 {
    margin-left: 89px;
  }

  .u-section-5-1 .u-text-2 {
    margin-right: 49px;
    margin-left: 19px;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 69px;
  }

  .u-section-5-1 .u-text-3 {
    margin-right: 102px;
    margin-left: 60px;
  }

  .u-section-5-1 .u-icon-2 {
    margin: 133px 420px 0 22px;
  }
}

@media (max-width: 991px) {
   .u-section-5-1 {
    min-height: 494px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 53px;
  }

  .u-section-5-1 .u-text-3 {
    margin-right: 74px;
    margin-left: 32px;
  }

  .u-section-5-1 .u-icon-2 {
    margin-right: 322px;
  }
}

@media (max-width: 767px) {
   .u-section-5-1 {
    min-height: 788px;
  }

  .u-section-5-1 .u-layout-cell-1 {
    background-position: 70.17% 50%;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 40px;
  }

  .u-section-5-1 .u-icon-2 {
    margin-right: 483px;
  }
}

@media (max-width: 575px) {
   .u-section-5-1 {
    min-height: 572px;
  }

  .u-section-5-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5-1 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-5-1 .u-text-3 {
    font-size: 1.5rem;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5-1 .u-icon-2 {
    margin-right: 304px;
  }
}