 .u-section-1 {
  min-height: 729px;
}

.u-section-1 .u-rotation-parent-1 {
  width: 1240px;
  height: 938px;
  margin: 0;
}

.u-section-1 .u-image-1 {
  height: 1240px;
  width: 938px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 202px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 940px;
    height: 411px;
  }

  .u-section-1 .u-image-1 {
    height: 940px;
    width: 711px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 720px;
    height: 191px;
  }

  .u-section-1 .u-image-1 {
    height: 720px;
    width: 545px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 22px;
  }

  .u-section-1 .u-rotation-parent-1 {
    width: 540px;
    height: 11px;
  }

  .u-section-1 .u-image-1 {
    height: 540px;
    width: 409px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    width: 258px;
  }
} .u-section-2 {
  min-height: 922px;
}

.u-section-2 .u-image-1 {
  height: 905px;
  margin-top: 17px;
  margin-bottom: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 1103px;
}

.u-section-3 .u-image-1 {
  height: 1083px;
  width: 1235px;
  margin: 20px -48px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-3 .u-image-1 {
    height: 824px;
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-3 .u-image-1 {
    height: 631px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-3 .u-image-1 {
    height: 473px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-3 .u-image-1 {
    height: 298px;
    width: 340px;
  }
}