.u-section-1 .u-sheet-1 {
  min-height: 480px;
}

.u-section-1 .u-image-1 {
  height: 791px;
  margin-top: 3px;
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2 .u-image-1 {
  height: 757px;
  margin-top: 20px;
  margin-bottom: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 1058px;
}

.u-section-3 .u-image-1 {
  height: 992px;
  margin-top: 25px;
  margin-bottom: 41px;
}.u-section-4 .u-sheet-1 {
  min-height: 480px;
}

.u-section-4 .u-image-1 {
  height: 815px;
  margin-top: 0;
  margin-bottom: 0;
}