.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

.u-section-1 .u-image-1 {
  height: 640px;
  margin-top: 0;
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2 .u-image-1 {
  height: 769px;
  margin-top: 11px;
  margin-bottom: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 480px;
}

.u-section-3 .u-image-1 {
  height: 735px;
  margin-top: 22px;
  margin-bottom: 0;
}.u-section-4 .u-sheet-1 {
  min-height: 480px;
}

.u-section-4 .u-image-1 {
  height: 738px;
  margin-top: 22px;
  margin-bottom: 0;
}