 .u-section-1 {
  background-image: url("images/ChemicalDosingTankFuelChemicalandoiltank.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1059px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 873px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 669px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 502px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}