 .u-section-1 {
  min-height: 649px;
}

.u-section-1 .u-video-1 {
  min-height: 648px;
  height: auto;
  margin-top: 0;
  margin-bottom: 1px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-video-1 {
    position: relative;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-1 .embed-responsive-2 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }

  .u-section-1 .embed-responsive-1 {
    width: 100%;
    left: auto;
    height: 100%;
    top: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 390px;
}

.u-section-2 .u-text-1 {
  font-weight: 200;
  font-size: 3.75rem;
  margin: 21px 43px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 300;
  margin: 0;
}

.u-section-2 .u-text-3 {
  width: 777px;
  font-size: 3rem;
  background-image: none;
  font-weight: 300;
  margin: 89px auto 2px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-right: 295px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 205px;
  }

  .u-section-2 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
    font-size: 1.5rem;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 82px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 0 -15px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 220px;
  background-position: 0% 0%;
}

.u-section-3 .u-icon-1 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 45px 0 104px;
}

.u-section-3 .u-text-2 {
  margin: 13px 45px 20px 104px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 201px;
  background-position: 0% 0%;
}

.u-section-3 .u-icon-2 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 45px 0 104px;
}

.u-section-3 .u-text-4 {
  margin: 13px 45px 20px 104px;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 201px;
  background-position: 0% 0%;
}

.u-section-3 .u-icon-3 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 13px 0 104px;
}

.u-section-3 .u-text-6 {
  margin: 13px 45px 20px 104px;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 201px;
  background-position: 0% 0%;
}

.u-section-3 .u-icon-4 {
  height: 64px;
  width: 64px;
  border-radius: 10px;
  margin: 38px auto 0 20px;
  padding: 12px;
}

.u-section-3 .u-text-7 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -64px 45px 0 104px;
}

.u-section-3 .u-text-8 {
  margin: 13px 45px 20px 104px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 12px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 181px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 17px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 32px;
    margin-left: 17px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 166px;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
    margin-left: 49px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 0;
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }
}