.u-section-1 .u-sheet-1 {
  min-height: 510px;
}

.u-section-1 .u-image-1 {
  width: 1157px;
  height: 868px;
  margin: 0 -17px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 347px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    height: 705px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 182px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 540px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 47px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 340px;
    height: 255px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2 .u-image-1 {
  width: 1156px;
  height: 817px;
  margin: 20px -16px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 327px;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 664px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 45px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
    height: 241px;
  }
}