.u-section-1 .u-sheet-1 {
  min-height: 419px;
}

.u-section-1 .u-image-1 {
  height: 749px;
  margin-top: 0;
  margin-bottom: 0;
}.u-section-2 .u-sheet-1 {
  min-height: 480px;
}

.u-section-2 .u-image-1 {
  height: 766px;
  margin-top: 12px;
  margin-bottom: 0;
}.u-section-3 .u-sheet-1 {
  min-height: 480px;
}

.u-section-3 .u-image-1 {
  height: 742px;
  margin-top: 17px;
  margin-bottom: 0;
}